# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
Joanna_Testing.ipynb

# pyenv
.python-version

# local files
reasoner.py
main_test.py
main_test.ipynb
input_data/civil_comments_train.csv 
input_data/civil_comments_test.csv
input_data/civil_comments_validation.csv
input_data/context_sensitivity_toxicity_gc.csv
input_data/context_sensitivity_toxicity_gn.csv
input_data/context_sensitivity_toxicity_CCC.csv
input_data/hatexplain.json
input_data/toxic_content_classification_diverse.zip
.DS_Store
notes.md

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/