# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# local files
reasoner.py
main_test.py
main_test.ipynb
data/civil_comments_train.csv 
data/civil_comments_test.csv
notes.md
*test.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/